asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-extra-views
django-filter
django-jazzmin
django-modeltranslation
djangorestframework
djangorestframework-simplejwt
drf-yasg
et-xmlfile
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
openpyxl
packaging
pillow
PyJWT
pytz
PyYAML
requests
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise